In [13]:
#comentatio 
"""
comentando muitas linjhas
"""

#tipo inteiro (int);
inteiro = 33;

#tipo flutuante (float);
flutuante = 33.2;

#tipo complexo (complex);
complexo = 3 + 2j;

#tipo string (str);
texto = "lauricio és boim";

print("inteiro:", inteiro);
print("flutuante:", flutuante);
print("complexo:", complexo);
print("string:", texto);


#listas arrays (list);
#são uma coleção ordenada de valores mutaveis acessadas por chave e valor;
lista = [1,2,3];

print("lista:", lista);

#tuplas (tuple) iuma coleção ordenada de valores imultaveis;
tupla = (1,2,3);

print ("tupla:", tupla);

#conjunto (set) ima coleção de valores nao ordenada de intens unicos;
conjunto = {2,4,3}

print("conjunto:", conjunto);

#dicionario (dict) uma coleção nao ordenada de pares chave-valor
dicionario = {"chave":"valor"}

print("dicionario", dicionario);

#boleanos (bool) valoreso verdadeiro ou falso;
booleano = True;

print("Booleano:", booleano);

#noneType (None) um tipo especial que representa ausencia de valor;
nenhum = None;
print("nonetyope", nenhum);

SyntaxError: invalid syntax (935271172.py, line 56)

In [15]:
#OBTENDO O TIPO DE UMA VARIAVEL (TYPE);
nome = "lauricio";
sobrenome = str("de Sousa"); #nome o valor passado para a função str() será convertido para string e retornado o valor passado

idade = str(33); # nesse caso memso o valor sendo int será convertido para string;

#obtendo o tipo de uma varivel 

print(type(idade));

print(type(nome));

<class 'str'>
<class 'str'>

In [17]:
#as variaveis diferenciam letras maiusculas de minusculas;

i = 22;
I = 234;
print(I);

234

In [19]:
#declarando varias variaveis 
"""
atribuindo valores a variaveis em apenas uma linha.;
"""
var1, var2, var3 = "sou1","sou2", "sou3";
print(var1);

sou1

In [21]:
#podemos atribuir o mesmo valor a varias variaveis

var1 = var2 = var3 = "layu";

print(var1);
print(var2);
print(var3);

layu
layu
layu

In [22]:
#se tiver uma coleção de valores em uma lista, podemos extrair em variavoeis. isso é chamado de descompactar

exemplo = "text1","texto2", "texto3";

var1, var2, var3 = exemplo;


print(var1);
print(var2);
print(var3);

text1
texto2
texto3